.AccordionHorizontal {

    @apply absolute left-0 w-auto rounded-r-[1rem];

  @screen laptop {
    @apply h-auto static ;

    /* width: calc(52rem * var(--scale)); */
  }
  

  .container-accordion-general {

    @apply w-auto overflow-hidden ;

  }

  .container-accordion {
    @apply h-auto w-[35rem] max-w-[29rem] pl-[1rem] border-t-primaryBlue border-b-primaryBlue border-l-primaryPink border-r-primaryPink border-[0.2rem] ;

    backdrop-filter: blur(3px);



    @screen laptop {

        @apply pl-0 max-w-[100rem];

      width: calc(35rem * var(--scale));
      padding-left: calc(1.5rem * var(--scale));
      padding-right: calc(1.5rem * var(--scale));
    }
  }

  .container-arrow {
    @screen laptop {
      @apply w-full h-full;
    }
  }

  .container-letter{

    @apply text-[2rem] font-extrabold;

    @screen laptop{

        font-size:calc(3.1rem *var(--scale));

    }

  }

  .title-accordion {
    font-size: 50rem;
  }


}

.container-svg-accordion{
    @apply absolute z-[100];

    margin-right: calc(-0.3rem * var(--scale));
    padding-left: calc(1rem * var(--scale));
    padding-top: calc(1rem * var(--scale));

    @screen laptop {

      margin-right: calc(-0.3rem * var(--scale));
      padding-left: calc(1rem * var(--scale));
      padding-top: calc(1rem * var(--scale));
    }

}
