@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-style: normal;

  /* background:#0f2c4491; */
}

html {
  font-size: 62.5%;
  background: rgb(50, 56, 82);
  background: -moz-linear-gradient(
    135deg,
    rgba(50, 56, 82, 1) 0%,
    rgba(71, 68, 95, 1) 47%,
    rgba(71, 107, 148, 1) 86%,
    rgba(83, 145, 202, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(50, 56, 82, 1) 0%,
    rgba(71, 68, 95, 1) 47%,
    rgba(71, 107, 148, 1) 86%,
    rgba(83, 145, 202, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(50, 56, 82, 1) 0%,
    rgba(71, 68, 95, 1) 47%,
    rgba(71, 107, 148, 1) 86%,
    rgba(83, 145, 202, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323852",endColorstr="#5391ca",GradientType=1);

  /* background-color: #363B4E; */
}

select,
textarea {
  @apply w-full border-none bg-none;

  &:focus {
    @apply outline-none;
  }
}

textarea {
  resize: none;
}

.p-dialog-content {
  @apply p-7 rounded-xl bg-primaryBlack;

  backdrop-filter: blur(100px); /* Aplica el efecto borroso */
}

.p-dialog-header {
  @apply hidden;
}

.classTest {
  @apply bg-red-400;

  @screen tablet {
    @apply bg-amber-500;
  }

  @screen laptop {
    @apply bg-emerald-400;
  }
}

.visibility-select-2 {
  @apply bg-transparent border-primaryPink text-[#56A3E1] border-[0.25rem] border-solid text-[1.3rem] p-[0.3rem];

  @screen laptop {
    font-size: calc(1.55rem * var(--scale));
    padding: calc(0.4rem * var(--scale));
  }
}

.visibility-option {
  @apply bg-[#2C2A2A] text-[#56A3E1] text-[1.3rem] p-[0.3rem];

  @screen laptop {
    padding: calc(1rem * var(--scale));
  }
}

.container-prin {
  @apply px-[2rem] fixed w-full z-[150];
  @screen laptop {
    padding-right: calc(10rem * var(--scale));
    padding-left: calc(10rem * var(--scale));
  }
}

.main-page {
  animation-name: fadeIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  background-image: var(--bg-img);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input-modal {
  @apply bg-transparent border-b border-primaryPink w-full 
  font-bold outline-none text-primaryBlue text-[1.7rem] px-[1rem];

  @screen tablet {
    @apply text-[2rem] px-[1rem];
  }
}

.p-toast-message-content {
  @apply w-[40rem] !border-primaryPink border text-primaryBlue bg-[#2D2B40] text-[1.7rem];
  .p-toast-icon-close {
    @apply hidden;
  }
}

.textArea-modal {
  @apply bg-transparent rounded-md w-full min-h-60 outline-none text-blue-500 text-2xl px-4 py-2;

  border: 1px solid #427eff;
}

::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra lateral */
}

::-webkit-scrollbar-track {
  background-color: #2c2a2a; /* Color de fondo de la pista */
}
::-webkit-scrollbar-thumb {
  background-color: #427eff; /* Color del pulgar de la barra */
  border-radius: 5px; /* Radio de borde del pulgar de la barra */
}

.sidebar-perfil {
  @apply w-[30rem] p-[1rem] bg-primaryBlack gap-[2rem] justify-center;
  .info-sidebar {
    @apply flex flex-col gap-[2rem] font-bold items-center h-[50%] justify-center;
    h4 {
      @apply cursor-pointer text-primaryPink text-[3rem] duration-300 ease-in-out 
      hover:text-primaryBlue;
    }
  }

  svg {
    @apply w-[2.5rem] h-[2.5rem]  text-primaryPink;
  }
}

.DevFriend_Logo {
  background: rgb(251, 121, 183);
  background: linear-gradient(
    90deg,
    rgba(251, 121, 183, 1) 10%,
    rgba(66, 126, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; /* Ocultar el color del texto por defecto */
  -webkit-text-fill-color: transparent; /* Para navegadores WebKit */
}

.btn_login_box_ingreso {
  @apply bg-primaryLead text-white text-[1.5rem] px-[2rem] py-[.5rem] rounded-[.5rem] border border-[#5c6281] 
  duration-300 ease-in-out hover:bg-[#64b9ff7e];

  @screen tablet {
    @apply text-[1.7rem] font-extrabold px-[2rem] py-[.5rem] rounded-[.5rem] 
  duration-300 ease-in-out;
  }
}

/*Animation SVG MiduDev*/

#arrow {
  fill-opacity: 0;
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  animation: dash 2s ease-in-out forwards;
  stroke-width: 20;
}

@keyframes dash {
  70% {
    fill-opacity: 0;
    stroke-width: 15;
  }

  85% {
    stroke-width: 10;
  }

  95% {
    stroke-width: 5;
  }

  100% {
    fill-opacity: 100%;
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}

/*Animation SVG MiduDev*/

/*Animation SVG MiduDev And ChatGPT */

#imageInfinite {
  fill-opacity: 0;
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  animation: drawAndUndraw 4s linear infinite alternate; /* Animación de 4 segundos, lineal, infinita y alternante */
  stroke-width: 1;
}

@keyframes drawAndUndraw {
  70% {
    fill-opacity: 0;
    stroke-width: 1;
  }

  85% {
    stroke-width: 1;
  }

  95% {
    stroke-width: 1;
  }

  100% {
    fill-opacity: 100%;
    stroke-dashoffset: 0;
    stroke-width: 1;
  }
}

/*Animation SVG MiduDev And ChatGPT */
