.logi_box {
  @apply !bg-transparent p-[1rem] w-[90%] max-w-[35rem];

  @screen tablet {
    @apply max-w-[40rem];

    padding: calc(1rem * var(--scale));
  }

  .p-dialog-header-icons {
    @apply text-primaryPink hidden;
  }

  backdrop-filter: blur(5px); /* Aplica el efecto borroso */
}

.login_modal {
  @apply flex flex-col items-center justify-center  gap-[1rem] pl-[1.5rem] pr-[1.5rem];

  @screen tablet {
    gap: calc(4rem * var(--scale));
  }
}

.imagen-logo-tw {
  @apply w-[100%];

  @screen tablet {
    @apply w-[13rem] h-[10rem];
  }
}

.btn_login_box_ingreso {
  @apply bg-primaryLead text-white text-[1.5rem] px-[2rem] py-[.5rem] rounded-[.5rem] border border-[#5c6281] 
  duration-300 ease-in-out hover:bg-[#64b9ff7e];

  @screen tablet {
    @apply text-[1.7rem] font-extrabold px-[2rem] py-[.5rem] rounded-[.5rem] 
  duration-300 ease-in-out;
  }
}

.box_inputs {
  @apply flex flex-col gap-[2.5rem] p-[1rem];
}

.input_option {
  @apply flex flex-col  gap-[1.5rem] font-semibold;
}

.logo-name_two {
  @apply flex items-center text-[2.4rem] gap-[.5rem];
  & h3 {
    @apply text-primaryPink font-bold;

    @screen tablet {
      @apply text-[3.5rem];
    }
  }
  & h2 {
    @apply text-primaryBlue  font-bold;

    @screen tablet {
      @apply text-[3.5rem];
    }
  }
}
