.dashboard {
  @apply h-full pt-[6.5rem]   min-h-[100vh];


  @screen laptop{

     @apply static ;

  }

  .dashboard-container {
    @apply flex gap-[15rem] p-[3rem] pt-[5rem];

    @screen laptop{

      gap: calc(12rem * var(--scale));

    }

  }

  .dashboard-left {
    @apply pb-[2rem] flex flex-col w-full text-[2rem];

    @screen laptop{

      padding-top: calc(1rem * var(--scale));
      padding-bottom: calc(3rem * var(--scale));

    }

  }

  .dashboard-left-tittle {
    @apply text-primaryPink;
  }

  .dashboard-left-content {

    @apply text-primaryBlue text-[1.9rem] text-start  font-bold;


    @screen laptop{

      font-size: calc(2rem *var(--scale));

    }

  }
}
