.dashboard {
  @apply h-full pt-[9rem]  min-h-[100vh];


  @screen laptop{

     @apply static ;

  }

  .dashboard-container {
    @apply flex gap-[15rem] p-[3rem] pt-[5rem];

    @screen laptop{

      gap: calc(12rem * var(--scale));

    }

  }

  .dashboard-left {
    @apply pb-[10rem] flex flex-col w-full text-[2rem] pt-[4.7rem];

    @screen laptop{

      padding-top: calc(1rem * var(--scale));
      padding-bottom: calc(2rem * var(--scale));

    }

  }

  .dashboard-left-tittle {
    @apply text-[#f969aa];
  }

  .dashboard-left-content {

    @apply text-[#57A3E1] text-[1.5rem] text-start  ;


    @screen laptop{

      font-size: calc(2rem *var(--scale));

    }

  }
}
