.SlugDashboard {
  @apply  w-full h-full min-h-[100vh];

  .container-slug-dashboard {
    @apply w-full pt-[10rem] flex h-full min-h-[100vh];
  }

  .container-slug-left {
    @screen laptop {
      @apply border-r-[#F969AA] border-r-[0.2rem];
    }
  }

  /* .menu-slug {
    @screen laptop {
      @apply pt-[5rem] pl-[2rem];
    }
  } */

  .AccordionHorizontal {
    /* @screen laptop {
      width: calc(35rem * var(--scale));
    } */
  }

  .container-slug-rigth {
    @apply flex flex-col  w-full !relative  ;
    
    .container_input_link_musica{
      @apply flex flex-col gap-[1rem];
      & input {
        @apply outline-none border-[#57A3E1] border-2 p-[.7rem] rounded-md bg-transparent  text-[1.2rem] ;
      }
    }
  }
  

  .header-rigth {
    @apply flex justify-between items-center border-b-[#F969AA] border-b-[0.2rem] w-full p-[1rem];
  }

  .title-table {
    @apply text-[white] text-[1.4rem];

    @screen laptop {
      @apply text-[white] text-[1.8rem];

      font-size: calc(3rem * var(--scale));
    }
  }

  .generate-token-container{

    @apply flex gap-[1rem] ;

  }

  .button-share {
    @apply flex  bg-[#864977] p-[0.5rem] rounded-[0.5rem] gap-[1rem] justify-between items-center text-[#57A3E1] text-[1.3rem] h-auto w-auto ;

    @screen laptop {
      @apply flex  p-[0.7rem] rounded-[0.5rem] gap-[1rem] justify-between items-center text-[#57A3E1] text-[1.5rem];
    }
  }

  /*AccordionHorizontal Classes*/

  .container-accordion {
    @apply !border-r-0 border !border-t-[#F969AA] !border-l-transparent !border-b-[#F969AA] ;

    @screen laptop{

      @apply !border-l-[#F969AA] ;

    }

  }

  /*AccordionHorizontal Classes*/

  /*-----------------------Work space copy classes------------------------------*/

  .container {
    @apply flex flex-col gap-[1rem] mt-[2rem];
  }

  .dev-friends {
    @apply text-[#57A3E1];
  }

  .boards-container,
  .members-container {
    @apply flex justify-start items-center gap-[2rem];
  }

  .boards-image,
  .members-image {
    @apply w-[5rem] h-auto;
  }

  .boards-text,
  .members-text {
    @apply text-[#F969AA] text-[1.8rem];

    @screen laptop {
      font-size: calc(2rem * var(--scale));
    }
  }

  /*-----------------------Work space copy classes------------------------------*/
}


.content_video_music {
  @apply  w-[98%] h-full absolute top-[7rem]  z-[1];
  @screen laptop{
    height: 90%;
    width: 99%;
  }
}

.content_video_music_two{
  @apply bg-[url("https://imgcdn.stablediffusionweb.com/2024/2/28/ba9607a6-aef0-4b0d-b3ea-f084e23a27d9.jpg")]
  bg-cover bg-center w-[98%] h-full absolute top-[7rem]  z-[1];
  @screen laptop{
    height: 90%;
    width: 99%;
  }
}