.modalDashboard {

  @apply bg-[#2B3146] h-auto w-[90%] pt-[1.6rem] ;

  @screen tablet{

    @apply w-[60%] p-[3rem] pb-[1rem];

  }

  @screen laptop {
    
    width: calc(110rem * var(--scale));
    padding: calc(1rem * var(--scale));
  }

 

  .p-dialog-header {
    @apply hidden;
  }

  .modalDashboard-container {

    @apply flex flex-col-reverse gap-[1rem] font-bold;

    @screen laptop {
      @apply flex flex-row w-full h-full;

      gap: calc(1rem * var(--scale));
    }
  }

  .container-left {

    @apply flex flex-col justify-center w-[100%] pt-[1rem] p-[3rem] gap-[1rem];

    @screen laptop {
      @apply flex flex-col justify-center w-[50%];

      padding: calc(2rem * var(--scale));
      gap: calc(2.5rem * var(--scale));
    }
  }

  .container-left-tittle {

    @apply text-[#F969AA] text-[2rem] ;

    
    @screen laptop {

      font-size: calc(2.7rem * var(--scale));
    }
  }

  .container-left-description {

    @apply text-[#57A3E1] text-[1.3rem];

    @screen laptop {

      font-size: calc(2rem * var(--scale));
    }
  }
  #spaceWork-Name-Label {

    @apply text-[1.8rem] ;

    @screen laptop {
      font-size: calc(2.4rem * var(--scale));
    }
  }

  #spaceWork-Name {

    @apply border border-[#57A3E1] rounded-[0.3rem] text-[1.3rem] p-[0.3rem];

    @screen laptop {
      @apply  w-[74%];

      min-width: calc(10rem * var(--scale));
      font-size: calc(2rem * var(--scale));
    }
  }

  #spaceWork-Description-Label {

    @apply text-[1.4rem] ;

    @screen laptop {
      font-size: calc(2.4rem * var(--scale));
    }
  }

  #spaceWork-Description {

    @apply text-[1.3rem] p-[0.3rem] ;

    @screen laptop {
      @apply w-[74%];

      font-size: calc(2rem * var(--scale));
    }
  }

  #spacreWork-Description::-webkit-scrollbar {
    width: 2px; /* Ancho de la barra lateral */
  }

  #spacreWork-Description::-webkit-scrollbar-track {
    background-color: #ce0909; /* Color de fondo de la pista */
  }

  #spacreWork-Description::-webkit-scrollbar-thumb {
    background-color: #3a1313; /* Color del pulgar de la barra */
    border-radius: 5px; /* Radio de borde del pulgar de la barra */
  }

  .container-left-button {

    @apply flex items-center justify-center w-[100%];


    @screen laptop {
      @apply flex items-center justify-center w-[74%];
    }

    button {

      @apply w-auto m-auto border border-[#57A3E1] p-[0.5rem] text-[#F969AA] rounded-[0.3rem];

      padding-left: calc(2rem * var(--scale));
      padding-right: calc(2rem * var(--scale));
      font-size: calc(2rem * var(--scale));
      @screen laptop {
        @apply w-auto m-auto border border-[#57A3E1] p-[0.5rem] text-[#F969AA] rounded-[0.3rem];

        padding-left: calc(2rem * var(--scale));
        padding-right: calc(2rem * var(--scale));
        font-size: calc(2rem * var(--scale));
      }
    }
  }

  .container-right {

    @apply flex flex-row-reverse justify-center items-center ;

    @screen laptop {
      @apply flex flex-col justify-center items-center w-[50%];

      gap: calc(2rem * var(--scale));
    }
  }

  .container-right-image {

    @apply w-[30%] ;

    @screen laptop {
      @apply w-[60%] drop-shadow-[1px_1px_10px_#58A0DE];
    }
  }

  .container-right-text {

    @apply text-[3.5rem] text-center ;

    @screen laptop {
      font-size: calc(8rem * var(--scale));
    }

    .DEV {
      @apply text-[#F969AA];
    }

    .FRIEND {
      @apply text-[#57A3E1];
    }
  }
}



.token_modal{

  @apply bg-[#2B3146] h-auto w-[70%] pt-[1.6rem] ;

  @screen tablet{

    @apply w-[70%] p-[3rem] pb-[1rem];

  }

  @screen laptop {
    
    width: calc(80rem * var(--scale));
    padding: calc(1rem * var(--scale));
  }

 

  .p-dialog-header {
    @apply hidden;
  }

  



  .container-left-tittle {

    @apply text-[#58A0DE] text-[2rem] text-center;

    
    @screen laptop {

      font-size: calc(2.7rem * var(--scale));
    }
  }








  #spacreWork-Description::-webkit-scrollbar {
    width: 2px; /* Ancho de la barra lateral */
  }

  #spacreWork-Description::-webkit-scrollbar-track {
    background-color: #ce0909; /* Color de fondo de la pista */
  }

  #spacreWork-Description::-webkit-scrollbar-thumb {
    background-color: #3a1313; /* Color del pulgar de la barra */
    border-radius: 5px; /* Radio de borde del pulgar de la barra */
  }

  .container-left-button {

    

    button {

      @apply w-auto m-auto border border-[#57A3E1] p-[0.5rem] text-[#F969AA] rounded-[0.3rem];

      padding-left: calc(2rem * var(--scale));
      padding-right: calc(2rem * var(--scale));
      font-size: calc(2rem * var(--scale));
      @screen laptop {
        @apply w-auto m-auto border border-[#57A3E1] p-[0.5rem] text-[#F969AA] rounded-[0.3rem];

        padding-left: calc(2rem * var(--scale));
        padding-right: calc(2rem * var(--scale));
        font-size: calc(2rem * var(--scale));
      }
    }
  }

 



}